name: PROD Deployment GraphServiceQuery

on:
  push:
    branches:
      - main

jobs:
  tests:
    name: Run unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Run unit tests
        run: |
          pytest tests/unit

  build:
    name: Build & Push Docker image
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USER }}/path_service:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USER }}/path_service:latest

  deploy:
    name: Deploy to production server
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy on server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/ubuntu
            sudo docker compose pull
            sudo docker compose up -d
            sudo docker image prune -f